 header#main-header {
    width: 100%;
    height: 60px;
    background-color: #da5522;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 }